---
Checks: '*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-avoid-do-while,
        -cppcoreguidelines-avoid-magic-numbers,
        -hicpp-uppercase-literal-suffix,
        -misc-non-private-member-variables-in-classes,
        -misc-use-anonymous-namespace,
        -modernize-use-trailing-return-type,
        -readability-else-after-return,
        -readability-uppercase-literal-suffix,
        -readability-identifier-length,
        -readability-magic-numbers,
'

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none






